body {
  font-family: 'Rubik', sans-serif !important; }

#content-header .content-nosotros #logo-principal img {
  width: 40%;
  float: none; }
#content-header .content-nosotros #content-points {
  box-sizing: border-box; }
#content-header .content-nosotros img {
  width: 40%;
  margin: 20px 20px; }
#content-header .content-nosotros h5 {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 30px;
  color: #003879;
  padding: 0px 30px;
  text-transform: uppercase; }
#content-header .content-nosotros h6 {
  font-weight: bold;
  color: #003879;
  padding: 0px 10px; }
#content-header .content-nosotros p {
  text-align: justify;
  padding: 20px 30px;
  font-weight: 100;
  font-size: 15px; }
#content-header .content-nosotros span {
  color: #003879;
  font-weight: bold;
  text-transform: uppercase; }
#content-header .content-nosotros img {
  width: 50px;
  float: left; }
#content-header .content-head {
  background-color: #003879;
  position: relative; }
  #content-header .content-head #headSocial {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px; }
    #content-header .content-head #headSocial a {
      color: #fff;
      font-size: 20px;
      margin: 10px; }
#content-header .content-img {
  padding: 100px 0px; }
  #content-header .content-img img {
    width: 70%; }
  #content-header .content-img p {
    color: #fff;
    margin: 30px 0px; }
#content-header .sunContimg img {
  float: right; }
#content-header .sunContimg p {
  display: inline-block;
  padding-left: 190px; }

#nosotros-logo .content-text {
  background-color: #003879; }
  #nosotros-logo .content-text p {
    color: #fff;
    margin: 40px 0px;
    padding: 50px 70px; }
#nosotros-logo .content-logos img {
  width: 200px;
  margin: 0px 20px;
  padding: 50px 0px;
  box-sizing: border-box; }

.title-service h5 {
  color: #003879;
  font-size: 30px;
  letter-spacing: 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Rubik', sans-serif !important;
  position: absolute;
  right: 0;
  background-color: #f2f2f2;
  padding: 20px 20px; }
.title-service .cont-title {
  width: 100%;
  position: relative; }

#content-auditor img {
  width: 150px;
  display: block;
  margin: 0 auto;
  margin-top: 40px; }
#content-auditor .contAuditor {
  padding: 70px; }
  #content-auditor .contAuditor h1 {
    color: #003879;
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 10px; }
  #content-auditor .contAuditor p {
    text-align: justify; }
#content-auditor ul {
  padding: 0px 20px; }
#content-auditor .img-audit {
  position: relative; }
  #content-auditor .img-audit img {
    position: absolute;
    top: 30%; }
#content-auditor .line-grey {
  width: 2px;
  height: 100px;
  background-color: #003879;
  position: absolute;
  bottom: 0;
  right: 50%; }

#content-asesoria img {
  width: 150px;
  display: block;
  margin: 0 auto; }
#content-asesoria .contAsesor {
  padding: 70px; }
  #content-asesoria .contAsesor h1 {
    color: #003879;
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 10px; }
  #content-asesoria .contAsesor p {
    text-align: justify; }
#content-asesoria ul {
  padding: 0px 20px; }
#content-asesoria .img-asesor {
  position: relative; }
  #content-asesoria .img-asesor img {
    position: absolute;
    top: 20%; }
#content-asesoria .line-grey {
  width: 2px;
  height: 100px;
  background-color: #003879;
  position: absolute;
  bottom: 0;
  right: 50%; }

#content-otros img {
  width: 150px;
  display: block;
  margin: 0 auto; }
#content-otros .contOtros {
  padding: 70px; }
  #content-otros .contOtros h1 {
    color: #003879;
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 10px; }
  #content-otros .contOtros p {
    text-align: justify; }
#content-otros ul {
  padding: 0px 20px; }
#content-otros .img-otros {
  position: relative; }
  #content-otros .img-otros img {
    position: absolute;
    top: 30%; }

.title-contacto {
  margin-bottom: 100px; }
  .title-contacto .cont-title {
    width: 100%;
    position: relative; }
  .title-contacto h5 {
    color: #003879;
    font-size: 30px;
    letter-spacing: 20px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #f2f2f2;
    padding: 20px 20px;
    position: absolute; }

#content-contact .contFormulario {
  padding: 30PX; }
  #content-contact .contFormulario input {
    border-bottom: 1px solid #003879;
    font-size: 15px; }
  #content-contact .contFormulario label {
    letter-spacing: 15px;
    margin-bottom: 0; }
  #content-contact .contFormulario textarea {
    width: 100%;
    border: transparent;
    border-bottom: 1px solid #003879;
    font-size: 15px; }
  #content-contact .contFormulario button {
    width: 100%;
    background-color: #003879;
    color: #fff;
    letter-spacing: 10px;
    font-size: 15px; }
  #content-contact .contFormulario button:focus {
    color: #fff; }
  #content-contact .contFormulario textarea:focus {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    -moz-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0); }
#content-contact .form-control {
  border: none;
  border-radius: 0px; }
#content-contact .contMapa {
  padding: 30PX; }
#content-contact input:focus {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  -moz-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0); }
#content-contact .contRedes {
  position: relative; }
  #content-contact .contRedes #headSocial {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0px 20px; }
    #content-contact .contRedes #headSocial a {
      color: #003879;
      font-size: 20px;
      margin: 10px; }

footer {
  background-color: #636363;
  padding: 20px; }
  footer p {
    color: #fff;
    text-align: center; }

@media (max-width: 576px) {
  #content-header .content-img img {
    width: 100%; }

  #content-header .sunContimg p {
    display: inline-block;
    padding-left: 0px; }

  #content-header .content-nosotros #logo-principal img {
    width: 70%;
    margin: 0px;
    padding: 20px; }

  #content-header .content-nosotros h5 {
    letter-spacing: 15px;
    padding: 0px 0px;
    text-align: center;
    font-size: 25px; }

  #nosotros-logo .content-text p {
    margin: 40px 0px;
    padding: 0px 30px; }

  .title-service h5 {
    letter-spacing: 10px; }

  .title-contacto h5 {
    letter-spacing: 10px; }

  .title-contacto {
    width: 90%; }

  #content-header .content-nosotros span {
    font-size: 15px; }

  #content-auditor .contAuditor {
    padding: 30px; }

  #content-asesoria .contAsesor {
    padding: 40px; }

  #content-otros .contOtros {
    padding: 40px; } }
#content-header .content-nosotros {
  padding: 10px 0px; }

@media (max-width: 768px) {
  #content-auditor .contAuditor {
    padding: 40px; }

  #content-asesoria .contAsesor {
    padding: 40px; }

  #content-otros .contOtros {
    padding: 40px; }

  #content-header .sunContimg img {
    float: none;
    display: block;
    margin: 0 auto; } }
@media (max-width: 992px) {
  #content-auditor .contAuditor {
    padding: 40px; }

  #content-asesoria .contAsesor {
    padding: 40px; }

  #content-otros .contOtros {
    padding: 40px; } }
@media (max-width: 1350px) {
  #content-auditor .line-grey {
    right: 50%; } }
@media (min-width: 1700px) {
  #content-auditor .line-grey {
    right: 78%;
    bottom: -68px; }

  #content-asesoria .line-grey {
    right: 78%;
    bottom: -68px; } }

/*# sourceMappingURL=style.css.map */
