@import 'variables';
// $AzulMarino

body{
    font-family: 'Rubik', sans-serif !important;
}

#content-header{
    
    .content-nosotros{
        #logo-principal{
            img{
                width: 40%;
                float: none;
            }
         
        }
        #content-points{
           box-sizing: border-box;
        }
   
        img{
            width: 40%;
            margin: 20px 20px;
        }
        h5{
            font-size: 20px;
            font-weight: bold;
            letter-spacing: 30px;
            color: $AzulMarino;
            padding: 0px 30px;
            text-transform: uppercase;           
        }
        h6{
            font-weight: bold;
            color: $AzulMarino;
        }
        p{
            text-align: justify;
            padding: 10px 30px;
            font-weight: 100;
            font-size: 15px;
        }
        span{
            color: $AzulMarino;
            font-weight: bold;
            text-transform: uppercase;
        }
        
        
        img{
            width: 50px;
            float: left;
        }
       
    }

    .content-head{
        background-color: $AzulMarino;
    }
    .content-img{
        padding: 100px 0px;

        img{
            width: 400px;
        }
        p{
            color: #fff;
            margin: 30px 0px;

        }
    }
    .sunContimg{
        img{
            float: right;
        }
        p{
            display: inline-block;
            padding-left: 190px;
        }
    }
    
}

#nosotros-logo{
    .content-text{
        background-color: $AzulMarino;
        p{
            color:$blanco; 
             margin: 40px 0px;
            padding: 50px 70px;
        }
    }
    .content-logos{
        img{
            width: 200px;
            margin: 0px 20px;
            padding: 50px 0px;
            box-sizing: border-box;
        }
    }
}

//contenido de servicios

.title-service{
   
    h5{
    color: $AzulMarino;
    font-size: 30px;
    letter-spacing: 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Rubik', sans-serif !important;
    position: absolute;
    right: 0;
    background-color:$titulo;
    padding: 20px 20px;
       

    }
    .cont-title{
        width: 100%;
        position: relative;
    }
}

//seccion  de auditorias
#content-auditor{
    img{
        width: 150px;
        display: block;
        margin: 0 auto;
        margin-top: 40px;
    }
    .contAuditor{
        padding: 70px;
        h1{
            color: $AzulMarino;
            text-transform: uppercase;
            font-size: 30px;
            letter-spacing: 10px;;
        }
        p{
            text-align: justify;
        }
    }

    ul{
        padding: 0px 20px;
    }
   .img-audit{
       position: relative;
       img{
           position: absolute;
           top: 30%;
       }
   }
   .line-grey{
    width: 2px;
    height: 100px;
    background-color:$AzulMarino;
    position: absolute;
    bottom: 0;
    right: 50%;;
}
   
}

//seccion asesorias
#content-asesoria{
    img{
        width: 150px;
        display: block;
        margin: 0 auto;
    }
    .contAsesor{
        padding: 70px;
        h1{
            color: $AzulMarino;
            text-transform: uppercase;
            font-size: 30px;
            letter-spacing: 10px;;
        }
        p{
            text-align: justify;
        }
    }
    ul{
        padding: 0px 20px;
    }
   .img-asesor{
       position: relative;
       img{
           position: absolute;
           top: 20%;
       }
   }
   .line-grey{
    width: 2px;
    height: 100px;
    background-color:$AzulMarino;
    position: absolute;
    bottom: 0;
    right: 50%;;
}

}


//seccion otros servicios

#content-otros{
    img{
        width: 150px;
        display: block;
        margin: 0 auto;
    }
    .contOtros{
        padding: 70px;

        h1{
            color: $AzulMarino;
            text-transform: uppercase;
            font-size: 30px;
            letter-spacing: 10px;;
        }
        p{
            text-align: justify;
        }
    }
    ul{
        padding: 0px 20px;
    }
    .img-otros{
        position: relative;
        img{
            position: absolute;
            top: 30%;
        }
    }
}

.title-contacto{
    margin-bottom: 100px;
    .cont-title{
        width: 100%;
        position: relative;
    }
    h5{
        color: $AzulMarino;
        font-size: 30px;
        letter-spacing: 20px;
        text-transform: uppercase;
        font-weight: bold;
        background-color: $titulo;
        padding: 20px 20px;
        position: absolute;
        
    }
}

//seccion de contacto
#content-contact{
    .contFormulario{
        padding: 30PX;
        input{
            border-bottom: 1px solid $AzulMarino;
            font-size: 15px;
        }
        label{
            letter-spacing: 15px;
            margin-bottom: 0;
        }
        textarea{
            width: 100%;
            border: transparent;
            border-bottom: 1px solid $AzulMarino;
            letter-spacing: 10px;
            font-size: 15px;
        }
        button{
            width: 100%;
            background-color: $AzulMarino;
            color: $blanco;
            letter-spacing: 10px;
            font-size: 15px;
        }
        button:focus{
           color: #fff;
        }
    }
    .form-control{
        border: none;
        border-radius: 0px;
    }
    .contMapa{
        padding: 30PX;
    }
    input:focus {
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
        -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0); 
        -moz-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
        }
        textarea:focus {
            box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
            -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0); 
            -moz-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
            }

           
}

footer{
    background-color:#636363;
    padding: 20px;
    p{
        color: #fff;
        text-align: center;
    }
}

//media queries

@media (max-width: 576px) {
    #content-header .content-img img {
        width: 100%;
    }
   
    #content-header .sunContimg p {
        display: inline-block;
        padding-left: 0px;
    }
    #content-header .content-nosotros #logo-principal img {
        width: 70%;  
        margin: 0px;
        padding: 20px;  
    }
    #content-header .content-nosotros h5 {
        letter-spacing: 15px;
        padding: 0px 0px;
        text-align: center;
        font-size: 25px;
    }

    #nosotros-logo .content-text p {
        margin: 40px 0px;
        padding: 0px 30px;
    }
    .title-service h5 {
        letter-spacing: 10px;
    }

    .title-contacto h5 {
        letter-spacing: 10px;
    }
    .title-contacto {
        width: 90%;
    }
    #content-header .content-nosotros span {
        font-size: 15px;
    }

    //seccion de auditoria

    #content-auditor .contAuditor {
        padding: 30px;
    }

    //seccion de asesoria

    #content-asesoria .contAsesor {
        padding: 40px;
    }

    //seccion otros servicios

    #content-otros .contOtros {
        padding: 40px;
    }
    
}
#content-header .content-nosotros{
    padding: 10px 0px;

    p{
        padding: 10px 30px;
    }
}

@media (max-width: 768px) {

    #content-auditor .contAuditor {
        padding: 40px;
    }
    #content-asesoria .contAsesor {
        padding: 40px;
    }
    #content-otros .contOtros {
        padding: 40px;
    }
    
}
@media (max-width: 992px) {

    
    #content-auditor .contAuditor {
        padding: 40px;
    }
    #content-asesoria .contAsesor {
        padding: 40px;
    }
    #content-otros .contOtros {
        padding: 40px;
    }
    

}

@media (max-width: 1200px) {

}